name: pos_printers
description: "Flutter plugin for Android POS printers with USB permission management"
version: 0.6.0+2025120201
# homepage:

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  pigeon: ^22.7.0

flutter:
  plugin:
    platforms:
      android:
        package: com.kicknext.pos_printers
        pluginClass: PosPrintersPlugin
